@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

::selection{
    color: #1E2BFF ;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 18s linear infinite;

}


